<li class="ingredient-block list-group-item" data-id="{{id}}" >
    <div class="d-flex justify-content-between align-items-center">
        <span class="font-weight-bold text-muted">{{name}}</span>
        <div class="text-center">
            <input type="checkbox" class="ingredient-checkbox form-check-input" data-id="{{id}}">
        </div>
    </div>
</li>