<div id="ig-search" class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
    <div class="input-group">
        <div class="input-group-prepend">
            <button id="ig-search-submit-btn" type="submit" class="btn btn-link text-warning"><i
                    class="fa fa-search"></i></button>
        </div>
        <input id="ig-search-input" type="search" placeholder="{{placeholder}}" aria-describedby="ig-search-submit-btn"
            class="form-control border-0 bg-light">
    </div>
</div>
<p id="ig-search-error" class="mt-1 text-danger text-center font-weight-bold">"<span id="error-ig-name" ></span>" {{error}}</p>