<div class="row">
    <div class="col-sm-12">
        {{#if userToken.length}}
            <span id="userToken" data-token="{{userToken}}"></span>
        {{/if}}
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">
                    <i id="add-ingredient-btn" data-add="false" class="text-success fas fa-plus-square fa-lg"></i>
                    <h5 class="text-center"><strong>{{username}}'s</strong> Fridge</h5>
                    <i id="sync-fridge-btn" class="text-info fas fa-sync fa-lg"></i>
            </div>

            <div class="card-body">
                {{> searchbar error="could not be found!" isAdmin=userIsAdmin placeholder="What ingredient are you looking for?"}}
                <ul id="fridge-content">

                </ul>
                <div id="empty-fridge-msg" class="text-center">
                    <p class="card-text text-muted text-center">No ingredients have been added yet.</p>
                    <p><i class="fas fa-carrot fa-3x"></i></p>
                </div>
            </div>

        </div>
    </div>


</div>

<span class="d-none" id="userImage" data-url={{userImage}}></span>

<script src="/js/fridge.js"></script>
<script src="/js/photoSetter.js"></script>