<div class="row">
    <div class="col-sm-12">
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span></span>
                <h5 class="text-center"><strong>{{username}}'s</strong> Recipes</h5>
                {{#if userToken.length}}
                    <i id="sync-recipes-btn" data-userToken="{{userToken}}" class="text-info fas fa-sync fa-lg"></i>
                {{else}}
                    <i id="sync-recipes-btn" class="text-info fas fa-sync fa-lg"></i>
                {{/if}}            
            </div>            
            
                
            <div id="recipes-content" class="card-body accordion">
                    <div class="text-center">
                        <p class="card-text text-muted text-center">No recipes found. Add more ingredients!</p>
                        <p><i class="fas fa-scroll fa-3x"></i></p>
                    </div>
            </div>
         
        </div>
    </div>
</div>

<script src="js/recipes.js"></script>