<div class="row">
    <div class="col-sm-12">
        {{#if userToken.length}}
        <span id="userToken" data-token="{{userToken}}"></span>
        {{/if}}
        <div class="card text-center">
            <div class="card-header d-flex justify-content-between align-items-center">
                <i id="add-recipe-btn" class="text-success fas fa-plus-square fa-lg"></i>
                <h5 class="text-center"><strong>{{username}}'s</strong> Recipes</h5>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="recipes-toggle" checked>
                    <label class="custom-control-label" for="recipes-toggle"></label>
                </div>
            </div>

            <div class="card-body">
                <div id="recipe-search" class="row mb-3">
                    <div class="col-md-9">
                    {{> searchbarR error="is not a(n)" placeholder="What recipe are you looking for?"}}
                    </div>
                    <div class="col-md-3 align-center">
                        <select id="recipe-cuisine" style="position: relative; top: 5px" class="form-control">
                            <option selected>All</option>
                            {{#each cuisines}}
                            <option>{{cName}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
                <div id="recipes-content" class="accordion">

                </div>
                <div id="no-recipes-msg" class="text-center">
                    <p class="card-text text-muted text-center">No recipes found. Add more ingredients!</p>
                    <p><i class="fas fa-scroll fa-3x"></i></p>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="js/recipes.js"></script>