:root {
    --main-bg-color: rgb(250, 231, 217);
    --main-nav-color: rgb(250, 159, 94);
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    position: relative;
    height: 70px;
    background-color: var(--main-nav-color);
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -71.5px !important;  /* 50% of your logo width */
    display: block;
    padding-top: 0
}

#logo {
    margin-top: 10px;
    height: 60px;
    width: auto;
}

.auth-btn {
    position: absolute;
    right: 5%;
}

.nav-tabs {
    border-bottom: none;
    background-color: var(--main-nav-color);

}

.nav-tabs .nav-link {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.nav-tabs .nav-link.active {
    background-color:  var(--main-bg-color) ;
    border-color: var(--main-bg-color) ;
}

.nav-tabs .nav-link.active:hover {
    background-color:  var(--main-bg-color) ;
    border-color: var(--main-bg-color);
}

.nav-tabs .nav-link:hover {
    border-color:  var(--main-nav-color);
    background-color:  var(--main-nav-color);

}

#dash_tabs {
    margin-bottom: 20px;

}

body {
    background-color: var(--main-bg-color);
}

a {
    color: white;
}

a:hover {
    color: black;
}

[data-link] {
    cursor: pointer;
  }

.dash-tab {
    font-size: 1.5em;
}

.login-btn {
    margin-top: 20px;
    height: 50px;
}

#empty-fridge-msg, #userToken, #ig-search, #ig-search-error, #no-ig-msg {
    display: none;
}

.ingredient-checkbox {
    margin-top: -0.3rem;
}

.delete-ingredient-btn {
    color: red;
    position: absolute;
    bottom: 11px;
}

.delete-instruction-btn {
    color: red;
    position: absolute;
    bottom: 11px;
    right: 0.1em;
}

.invalid-input {
    border: 1px solid var(--main-nav-color);
}

#name-block, .recipe-subTitle {
    font-weight: bold;
    color: rgb(231, 146, 85);
}